.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #1e1e1e;
  color: white;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s;
}

.buttonContainer {
  position: fixed;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0;
  font-size: 2.8rem;
  text-shadow: 0 0 0.5rem #84d0ff, 0 0 1rem #84d0ff, 0 0 2rem #84d0ff;
}

.description {
  width: 80rem;
  font-size: 1.2rem;
  word-break: keep-all;
  white-space: pre-line;
  text-align: center;
  margin-top: 7.5rem;
}

.category {
  margin: 0;
  font-size: 2rem;
  margin: 5rem 0 1rem 0;
}

.contents {
  width: 60rem;
  font-size: 1.4rem;
  word-break: break-all;
  h2 {
    font-size: 1.8rem;
  }
}

.link {
  font-size: 1.4rem;
  margin: 5rem 0 1rem 0;
}

.link:hover {
  text-decoration: underline;
}

.optionButton {
  width: 1rem;
  height: 1rem;
  background-color: white;
  border: none;
  border-radius: 50%;
  margin: 0.8rem;
}

.optionButton:hover {
  background-color: #d4efff;
}

.optionButton_selected {
  width: 1rem;
  height: 1rem;
  background-color: #84d0ff;
  border: none;
  border-radius: 50%;
  margin: 0.8rem;
}

.optionTitle {
  font-size: 1.4rem;
}

.optionTitle_selected {
  font-size: 1.4rem;
  font-weight: bold;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
